/* LOGIN CSS */



.row_login_index{
    width: 100vw;
    height: 100vh;
 
}

.form_login_index{
    background-color:rgba(255, 255, 255, 0.76);
}



/* RESPONSIVE 1920 (ESCRITORIO) */

@media only screen and (max-width: 1920px) {
    .form_login_index{
        min-height: 80% !important;
        max-height: 400px !important;
        max-width: 30% !important;
       
    }

    .col-principal_login_index{
        padding-top: 5%;
    }

    .col_logo_login_index{
        margin-top: 15%;
    }

    .logo_school_login_index{
        width: 50%;
    }

    .col_title_login_index{
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .title_login_index{
        font-size: 2.5em;
        color: #7DBE38;
        font-weight: bold;
    }

    .btn-submit_login_index{
        background: 0;
        border-radius: 40px;
        width: 75%;
        font-size: 18px;
    }

    .btn-create_login_index{
        border-radius: 40px;
        width: 75%;
        border-color: #7DBE38;
        border-style: solid;
        border-width: 2px; 
        font-size: 18px;
    }

    .col-forgot_login_index{
        margin-top: 5%;
    }

    .forgot_login_index{
        color: #7DBE38;
        font-weight: bold;
        font-size: 1.2em;
    }

}


 /* RESPONSIVE 1366 (PORTATIL) */

 @media only screen and (max-width: 1366px) {
    .form_login_index{
        min-height: 85% !important;
        max-height: 400px !important;
        max-width: 30% !important;
    }

    .col-principal_login_index{
        padding-top: 5%;
    }

    .col_logo_login_index{
        margin-top: 10%;
    }

    .logo_school_login_index{
        width: 50%;
    }

    .col_title_login_index{
        margin-top: 3%;
        margin-bottom: 3%;
    }

    .title_login_index{
        font-size: 1.8em;
        color: #7DBE38;
        font-weight: bold;
    }

    .btn-submit_login_index{
        background: 0;
        border-radius: 40px;
        width: 75%;
        font-size: 14px;
    }

    .btn-create_login_index{
        border-radius: 40px;
        width: 75%;
        border-color: #7DBE38;
        border-style: solid;
        border-width: 2px; 
        font-size: 14px;
    }

    .col-forgot_login_index{
        margin-top: 5%;
    }

    .forgot_login_index{
        color: #7DBE38;
        font-weight: bold;
        font-size: 1.2em;
    }


}

@media only screen and (max-width: 1120px) {
    .form_login_index{
        min-height: 85% !important;
        max-height: 400px !important;
        max-width: 40% !important;
    }
}

@media only screen and (max-width: 805px) {
    .form_login_index{
        min-height: 85% !important;
        max-height: 400px !important;
        max-width: 60% !important;
    }
}

@media only screen and (max-width: 585px) {
    .form_login_index{
        min-height: 85% !important;
        max-height: 400px !important;
        max-width: 100% !important;
    }
}

/* ----------------------------------------------------------- */



/* LOGIN DATE CSS */


.row_login_date{
    width: 100vw;
    height: 100vh;
}

.form_login_date{
    background-color:rgba(255, 255, 255, 0.76);
}



/* RESPONSIVE 1920 (ESCRITORIO) */

@media only screen and (max-width: 1920px) {
    .form_login_date{
            min-height: 90% !important;
            max-height: 500px !important;
            max-width: 30% !important;
        }

        .logo_date_login_date{
            width: 40%;
        }

        .title-date_login_date{
            font-size: 2em;
        }
}


 /* RESPONSIVE 1366 (PORTATIL) */

 @media only screen and (max-width: 1366px) {

    .col-logo_login_date{
        margin-top: 10% !important;
    }
   
    .form_login_date{
            min-height: 90% !important;
            max-height: 400px !important;
            max-width: 35% !important;
        }

        .col-title_login_date{
            padding-top: 0 !important;
            padding-bottom: 20px !important;
        }

        .title-date_login_date{
            font-size: 1.3em;
        }

        .inputform_login_date{
            padding-top: 0 !important;
            padding-bottom: 0 !important;
        }

        .icon-cam_login_date{
            width: 10% !important;
        }

        .js-fileName_login_date{
            font-size: 12px !important;
        }

        .js-labelFile_login_date{
            width: 70% !important;
            margin: auto;
        }

        .col-bottom-file_login_date{
            margin-top: 0 !important;
            margin-bottom: 0 !important;
        }

        .btn-create_login_date{
            border-radius: 40px;
            width: 70%;
            font-size: 14px;
            margin: auto;
        }

        .col-submit_login_date{
            margin-bottom: 0 !important;
        }


}


@media only screen and (max-width: 1120px) {
        .form_login_date{
            min-height: 85% !important;
            max-height: 400px !important;
            max-width: 40% !important;
        }
    }

    @media only screen and (max-width: 805px) {
        .form_login_date{
            min-height: 85% !important;
            max-height: 400px !important;
            max-width: 60% !important;
        }
    }

    @media only screen and (max-width: 585px) {
        .form_login_date{
            min-height: 85% !important;
            max-height: 400px !important;
            max-width: 100% !important;
        }
    }



    /* ----------------------------------------------------------- */



    /* LOGIN FIRTS CSS */


    
    .body_login_firts{
        background-image: url('/img/background.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    .row_login_firts{
        width: 100vw;
        height: 100vh;
    }

    .form_login_firts{
        background-color:rgba(255, 255, 255, 0.76);
    }


    .title_login_firts{
        color: #7DBE38;
        font-family: 'Gotham', sans-serif;
        font-weight: bold;
    }

    .title2_login_firts{
        font-family: 'Gotham', sans-serif;
        margin-right: 5%; margin-left: 5%;
        text-align: center;
    }

    .bottom_login_firts{
        border-radius: 20px;
        background: #7DBE38;
        font-size: 20px;
    }

    @media (min-width: 1366px) {
      .form_login_firts{
        padding-top: 5%;
        padding-bottom: 5%;
      }

      .img-responsive_login_firts{
          width: 50% !important;
      }

   }

  @media (min-width: 1920px) {
      .form_login_firts{
        height: 70%;
        padding: 2% !important;
      }

   }


       /* ----------------------------------------------------------- */



    /* LOGIN RESTORE CSS */


       .body_login_restore{
        background-image: url('/img/background.png');
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .row_login_restore{
        width: 100vw;
        height: 100vh;
    }

    .form_login_restore{
        background-color:rgba(255, 255, 255, 0.76);
    }


    .title_login_restore{
        color: #7DBE38;
        font-family: 'Gotham', sans-serif;
    }

    .title2_login_restore{
        font-family: 'Gotham', sans-serif;
        margin-right: 5%; margin-left: 5%;
        text-align: center;
    }

    .bottom_login_restore{
        border-radius: 20px;
        background: #7DBE38;
        font-size: 20px;
    }

    @media (min-width: 1366px) {
      .form_login_restore{
        padding-top: 5%;
        padding-bottom: 5%;
      }

      .img-responsive_login_restore{
          width: 50% !important;
      }

   }

  @media (min-width: 1920px) {
      .form_login_restore{
        height: 70%;
        padding: 2% !important;
      }

   }

   
       /* ----------------------------------------------------------- */


    /* TUTORIAL CSS */


       .body_tutorial{
        background-image: url('img/tutorial/1.png');
background-size: 100% 100% ;
background-repeat:no-repeat;
background-attachment: fixed;
        }


.list_tutorial li{
    display: inline-block;
    margin-inline: 15px;
}

.list_tutorial li div{
    border-radius: 20px;
    cursor: pointer;
    background: white;
}


       /* ----------------------------------------------------------- */